*{
    align-items: center;
    justify-content: center;
}
img{
    width: 450px;
    height: 300px;
    border-radius: 0.4rem;
    box-shadow: rgba(50,50,93,0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.container{
    display: flex;
    flex-direction: column;
}
.imageContainer{
    display: flex;
}
.bars{
    display: flex;
    gap: 1rem;
    font-size: 3rem;
    cursor: pointer;
}
.icons{
    font-size: 3rem;
    margin: 3rem;
    cursor: pointer;
}
polyline{
    stroke: #36454F;
    stroke-width: 0.5rem;
}
.bar:hover{
    color: #fff;
    transition: 0.5s;
}
.barWhite{
    color: white;
}